@media screen and (max-width: 992px) {
    .mrg-bottom-inputs {
        margin-bottom: 15px;
    }

    .mt-4 {
        margin-top: 1.5rem!important;
    }
}

@media screen and (max-width: 576px) {
    .mrg-bottom-button {
        margin-bottom: 15px;
    }
}